[Unit]
Description=Conky System Monitor
After=default.target
Wants=default.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/home/joep/repositories/joeplaa/joeplaa-conky/start_conky.sh
WorkingDirectory=/home/joep/repositories/joeplaa/joeplaa-conky
Environment=DISPLAY=:1
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=default.target